In [1]:
import itertools

l = [1,2,3,4,5,6,7]
for i,val in enumerate(itertools.accumulate(l)):
    print(f'{i}: {val}')

0: 1
1: 3
2: 6
3: 10
4: 15
5: 21
6: 28

In [2]:
import operator
from functools import reduce

for i,val in enumerate(itertools.accumulate(l, operator.mul)):
    print(f'{i}: {val}')

0: 1
1: 2
2: 6
3: 24
4: 120
5: 720
6: 5040

In [3]:
reduce(operator.mul,l)

5040

In [5]:
import time
def timing_val(func):
    def wrapper(*arg, **kw):
        print(func.__name__, 'running')
        t1 = time.time()
        res = func(*arg, **kw)
        t2 = time.time()
        print(f'It took {t2-t1} seconds to run this code')
        
        return res
    return wrapper

@timing_val
def factorial(n):
    *_, last = itertools.accumulate(range(1,n+1), operator.mul)
    return last

@timing_val
def factorial_r(n):
    return reduce(operator.mul, range(1,n+1))

@timing_val
def factorial_c(n):
    x = 1
    for x_ in range(2, n+2):
        x*=x_
        return x

In [6]:
factorial(50000)
factorial_r(50000)
factorial_c(50000)

factorial running
It took 13.205674409866333 seconds to run this code
factorial_r running
It took 0.8946046829223633 seconds to run this code
factorial_c running
It took 0.0 seconds to run this code

2

In [8]:
import pandas as pd
df1 = pd.DataFrame({'A' : list(range(100)), 'I' : list(range(100))})
df2 = pd.DataFrame({'B' : list(range(100)), 'I' : list(range(100))})
df3 = pd.DataFrame({'C' : list(range(100)), 'I' : list(range(100))})

reduce(lambda left, right: pd.merge(left, right, on='I'), [df1, df2, df3])

     A   I   B   C
0    0   0   0   0
1    1   1   1   1
2    2   2   2   2
3    3   3   3   3
4    4   4   4   4
..  ..  ..  ..  ..
95  95  95  95  95
96  96  96  96  96
97  97  97  97  97
98  98  98  98  98
99  99  99  99  99

[100 rows x 4 columns]

In [9]:
l = [['first', 'second'], ['third'], ['fouth', 'fifth', 'sixth']]
list(itertools.chain(*l))

['first', 'second', 'third', 'fouth', 'fifth', 'sixth']

In [10]:
list(itertools.dropwhile(lambda x:x>4,[5,6,7,8,9,1,2,3]))

[1, 2, 3]

In [11]:
it = range(10, 1, -1)
it_1 = itertools.dropwhile(lambda x:x>4, it)

In [12]:
for i in it_1:
    print(i)

4
3
2

In [13]:
list(itertools.takewhile(lambda x:x>4, [5,6,7,8,9,1,2,3]))

[5, 6, 7, 8, 9]

In [15]:
from itertools import groupby
keyfunc = lambda x: 'нечётные' if int(x%2) else 'чётные'
sequence = [i for i in range(10)]

sequence = sorted(sequence, key=keyfunc)

for group, nums in groupby(sequence, keyfunc):
    print(group, list(nums))

нечётные [1, 3, 5, 7, 9]
чётные [0, 2, 4, 6, 8]

In [17]:
N = 4
keyfunc = lambda x: int(x%N)
sequence = [i for i in range(16)]

sequence = sorted(sequence, key=keyfunc)

for group, nums in groupby(sequence, keyfunc):
    print('остаток деления на ', N, ': ', group, '-> ', list(nums))

остаток деления на  4 :  0 ->  [0, 4, 8, 12]
остаток деления на  4 :  1 ->  [1, 5, 9, 13]
остаток деления на  4 :  2 ->  [2, 6, 10, 14]
остаток деления на  4 :  3 ->  [3, 7, 11, 15]

In [18]:
table = [['Париж', 'город', 'Франция'],
         ['Абкот', 'деревня', 'Англия'],
         ['Алексеевка', 'посёлок городского типа', 'Россия'],
         ['Мехико', 'город', 'Мексика'],
         ['Финистер', 'деревня', 'Франция'],
         ['Москва', 'город', 'Россия'],
         ['Беценковичи', 'посёлок городского типа', 'Белорусь']]

table

[['Париж', 'город', 'Франция'],
 ['Абкот', 'деревня', 'Англия'],
 ['Алексеевка', 'посёлок городского типа', 'Россия'],
 ['Мехико', 'город', 'Мексика'],
 ['Финистер', 'деревня', 'Франция'],
 ['Москва', 'город', 'Россия'],
 ['Беценковичи', 'посёлок городского типа', 'Белорусь']]

In [19]:
keyfunc = lambda x:x[1]

table = sorted(table, key=keyfunc)

for TYPE, group in groupby(table, keyfunc):
    print(TYPE)
    print('-------------------')
    for g in group:
        print(g[0], ',', g[2])
    print('-------------------')
    print('\n')

город
-------------------
Париж , Франция
Мехико , Мексика
Москва , Россия
-------------------


деревня
-------------------
Абкот , Англия
Финистер , Франция
-------------------


посёлок городского типа
-------------------
Алексеевка , Россия
Беценковичи , Белорусь
-------------------

In [20]:
list(itertools.product('ABCD', [1,2,3,4]))

[('A', 1),
 ('A', 2),
 ('A', 3),
 ('A', 4),
 ('B', 1),
 ('B', 2),
 ('B', 3),
 ('B', 4),
 ('C', 1),
 ('C', 2),
 ('C', 3),
 ('C', 4),
 ('D', 1),
 ('D', 2),
 ('D', 3),
 ('D', 4)]

In [21]:
list(itertools.permutations('ABC'))

[('A', 'B', 'C'),
 ('A', 'C', 'B'),
 ('B', 'A', 'C'),
 ('B', 'C', 'A'),
 ('C', 'A', 'B'),
 ('C', 'B', 'A')]

In [22]:
print(list(itertools.combinations('ABC', 2)))
print(list(itertools.combinations_with_replacement('ABC', 2)))

[('A', 'B'), ('A', 'C'), ('B', 'C')]
[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]